root: true

parserOptions:
  ecmaVersion: 2018
  sourceType: "module"

env:
  es2017: true
  browser: true

globals:
  Pristine: readonly
  noUiSlider: readonly

extends: "htmlacademy/vanilla"

rules:
  no-magic-numbers:
    - error
    -
      ignore:
        - -1
        - 0
        - 1
        - 2
        - 10
        - 100
        - 200
  indent:
    - error
    - tab
